# Load/Analyze Historical Pre-downloaded Flight Data
Data link: https://www.kaggle.com/datasets/robikscube/flight-delay-dataset-20182022?resource=download

In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('../../data/flight_data/Combined_Flights_2018.parquet')

In [10]:
df.loc[:, ["FlightDate"]]

       FlightDate
0      2018-01-23
1      2018-01-24
2      2018-01-25
3      2018-01-26
4      2018-01-27
...           ...
637609 2018-09-11
637610 2018-09-11
637611 2018-09-11
637612 2018-09-11
637613 2018-09-11

[5689512 rows x 1 columns]

In [20]:
df[df['Dest'] == 'BOS'].count()

FlightDate            115317
Airline               115317
Origin                115317
Dest                  115317
Cancelled             115317
                       ...
ArrDel15              112457
ArrivalDelayGroups    112457
ArrTimeBlk            115317
DistanceGroup         115317
DivAirportLandings    115317
Length: 61, dtype: int64